/* RESET CSS  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: white;
    background-image: url(../IMAGES/background-image.png);
    background-size: 680.31px;
    background-repeat: no-repeat;
    background-position-x: right;
}

/* HEADER STYLING  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 100px;
}

.nav-top>a {
    margin-left: 80px;
    font-family: Google Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:  #212832;


}
.sign-up-button {
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500px;
    font-size: 17px;
    color:  #212832;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

 select {
    background: transparent;
    border: 0;;
    font-family: Google Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:  #212832;

 }

/* HERO SECTION  */

.hero-div {
    display: flex;
}

.hero-img {
    width: 783.87px;
    height: 764px;
    top: 105px;
    left: 565px;
    margin-right: 75px;
   
}

.world {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 410px;
    color:  #DF6951;
    margin-bottom: 25px;
}

.best-div {
    width: 630px;
    height: 535px;
    margin-top: 130px;
    margin-left: 120px;   
}

.best-div>h1 {
    font-family: Volkhov;
    font-size: 84px;
    font-weight: 700;
    line-height: 89px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 545px;  
    margin-bottom: 30px;
}

.built {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 400px;
    margin-bottom: 30px;
}

.find {
    /* padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 85px;
    padding-right: 85px; */
    border-radius: 10px;
    background-color: #F1A501;
    color: white;
    font-weight: 500px;
    font-size: 18px;
    padding: 23px;
}

/* SERVICES SECTION  */

.service-section {
    width: 1228px;
    height: 525px;
    /* border: 2px solid blue; */
    margin-top: 50px;
    margin-left: 154px;
}

.service-div>p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

}

.service-div>h2{
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;

}

.serv-div {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.weather-div{
    width: 190px;
    height: 227px;
    top: 1186px;
    left: 154px;
    border-radius: 18px, 5px, 10px, 5px;
    background-color: white;
    /* border: 2px solid yellow; */

}

.weather-div>i {
    width: 92px;
    height: 78px;
    margin-top: 1186px;
    margin-left: 55px;
    border-radius: 18px, 5px, 10px, 5px;

}

.weather-div>h4 {
    font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
width: 190px;
margin-top: 27px;
}

.weather-div>p {
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
width: 150px;
margin-top: 12px;
margin-left: 15px;
}

.flight {
    width: 302px;
    height: 348.91px;
    /* top: 1142.09px; */
    /* margin-left: 382px; */
    /* border: 2px solid blue; */
    position: relative;
    bottom: 100px;
}

.orange-div {
    width: 100px;
    height: 100px;
    border-radius: 30px 0px 10px 0px;
    background-color: #DF6951;   
}

.best-flight {
    width: 267px;
height: 314px;
/* top: 1144px
left: 417px */
border-radius: 36px;
/* border: 2px solid red; */
margin-left: 30px;
background-color: white;
position: relative;
top: 55px;
}

.best-flight>i{
    width: 166.87px;
    height: 153.33px;
    /* margin-top : 1142.09px; */
    margin-left: 55px;
    border-radius: 18px 5px 10px 5px;
}

.best-flight>h4 {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    width: 190px;
    /* margin-top: 27px; */
    margin-left: 30px;
}

.best-flight>p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 150px;
    margin-top: 12px;
    margin-left: 50px;
}

.local-events {

    width: 190px;
    height: 227px;
    top: 1186px;
    left: 154px;
    border-radius: 18px, 5px, 10px, 5px;
    background-color: white;
    /* border: 2px solid green; */

}

.local-events>i {
    width: 92px;
    height: 78px;
    margin-top: 1186px;
    margin-left: 70px;
    border-radius: 18px, 5px, 10px, 5px;

}

.local-events>h4 {
    font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
width: 190px;
margin-top: 27px;
}

.local-events>p {
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
width: 150px;
margin-top: 12px;
margin-left: 15px;
}


.customization {
    width: 190px;
    height: 227px;
    top: 1186px;
    left: 154px;
    border-radius: 18px, 5px, 10px, 5px;
    background-color: white;
    /* border: 2px solid brown; */

}


.customization>i {
    width: 92px;
    height: 78px;
    margin-top: 1186px;
    margin-left: 55px;
    border-radius: 18px, 5px, 10px, 5px;

}

.customization>h4 {
    font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
width: 190px;
margin-top: 27px;
}

.customization>p {
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
width: 150px;
margin-top: 12px;
margin-left: 15px;
}

/* TOP SELLIBG SECTION  */

.top-selling-section{
    width: 1102px;
    height: 617px;
    margin-top: 100px;
    margin-left: 173px;
    border-radius: 0px, 0px, 24px, 24px;
    /* border: 2px solid green; */
    position: relative;

}

.top {
    font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #5E6282;
}

.top-img {
    display: flex;
  
}

.destination {
    font-family: Volkhov;
font-size: 50px;
font-weight: 700;
line-height: 65px;
letter-spacing: 0em;
text-align: center;
color:  #14183E;
margin-bottom: 50px;
}

.rome-div {
    width: 314px;
    height: 457px;
/* top: 1774px; */
    /* margin-left: 174px; */
    border-radius: 24px;
    /* border: 2px solid red; */
}

.rome-img {
    width: 314px;
height: 457px;
/* top: 1774px
left: 174px */
border-radius: 24px;

}

.rome {
    margin-right: 30px;
}

.italy {
    /* border: 2px solid purple; */
    /* margin-bottom: 30px; */
    height: 136px;
    background-color: white;
    border-radius: 0px, 0px, 24px, 24px;
    position: relative;
    bottom: 135px;
  
}

.london {
    margin-right: 20px;
}

.london-img {
    width: 314px;
    height: 457px;
    /* top: 1774px
    left: 174px */
    border-radius: 24px;
}

.london-days {
    /* border: 2px solid purple; */
    /* margin-bottom: 30px; */
    height: 136px;
    background-color: white;
    border-radius: 0px, 0px, 24px, 24px;
    position: relative;
    bottom: 135px;
}


.europe {
    position: relative;
    left: 30px;
}
.europe-img {
    width: 314px;
    height: 457px;
    /* top: 1774px
    left: 174px */
    border-radius: 24px;
}

.europe-div {
    /* border: 2px solid purple; */
    /* margin-bottom: 30px; */
    height: 136px;
    background-color: white;
    border-radius: 0px, 0px, 24px, 24px;
    position: relative;
    bottom: 135px;
}

.decore {
    width: 96px;
    height: 252px;
    border-radius: 1px;
    margin-top: 120px; 
}


/* BOOK YOUR NEXT TRIP SECTION  */

.trip-section {
    width: 1114px;
    height: 492px;
    margin-top: 50px;
    margin-left: 186px;
    border: 2px solid blue;
}

.trip {
    display: flex;
}

.book {
    margin-right: 130px;
}

.easy {
    font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #5E6282;
margin-bottom: 20px;

}

.book >h1 {
    font-family: Volkhov;
font-size: 50px;
font-weight: 700;
line-height: 65px;
letter-spacing: 0em;
text-align: left;
color: #14183E;
width: 500px;
}

.choose {
    font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
width: 161px;
color: #5E6282;
}

.lorem {
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
width: 327px;
color: #5E6282;
margin-bottom: 10px;
}

.make {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 161px;
    color: #5E6282;

}

.reach {
 color: #5E6282;
 font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}

.trip-img {
    border: 2px solid yellow;
}

.lady {
    border: 2px solid blue;
    width: 370px;
height: 400px;
/* top: 2495px */
/* left: 815px; */
border-radius: 26px;
margin-top: 70px;
}
.happy-lady {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.book-trip-div {
    width: 395px;
height: 289px;
background-color: white;
left: 186px;
border-radius: 13px;
border: 2px solid green;
margin-top: 20px;

}
.rectangle {
    display: flex;
}

.rect-img {
    background-color: #F1A501;
    width: 47px;
height: 48px;
border-radius: 13px;
margin-top: 3px;
margin-right: 20px;
margin-bottom: 60px;

}

.water-div{
    display: flex;
}

.water-img {
    width: 47px;
    height: 48px;
    border-radius: 13px;
    margin-top: 3px;
    margin-right: 20px;
    background-color: #F15A2B;
    margin-bottom: 60px;

}

.taxi {
    display: flex;
}
.taxi-img {
    width: 47px;
    height: 48px;
    border-radius: 13px;
    margin-top: 3px;
    margin-right: 20px;
    background-color: #006380;
}

